*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(to right, #267871, #136a8a);
    color:aliceblue;
}
/*Header*/
h1{
    text-align: center;
    font-weight: bold;
    padding: 20px;
    
}
/*main*/
main{
    display: flex;
}
#list{
    min-height: 60px;
    flex: 2;
}
#form{
    background-color: #a9a9a9;
    min-height: 60px;
    flex: 1;
}
.notImp{
    font-size: 36px;
    font-weight: 200;
    cursor: pointer;
}
.imp{
    font-size: 36px;
    
}